<h1>Room <%= @room.name%></h1>


<div class="wrap">
  <div class="container-left">
    <div class="quote-display" id="quoteDisplay">
    </div>
    <textarea id="quoteInput" class="quote-input" autofocus type="hidden">
    </textarea>
  </div>
  <div class="container-right">
    <div class="quote-display2" id="quoteDispla2">
    </div>
    <textarea id="quoteInput2" class="quote-input2" autofocus type="hidden">
    </textarea>
  </div>
</div>